@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Graduate', serif;
}

body{
    background-image: linear-gradient(to bottom, hsl(235, 16%, 14%),
     hsl(236, 21%, 26%));
}

#container-cronometro{
    width: 311.5px;
}

#container-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#indicadores{

    text-align: center;

}

#contadores{
    display: flex;
    justify-content: center;
  
}


#seletores{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.relogio{
    font-size: 4rem;
}

button{
    cursor: pointer;
    width: 100px;
    height: 50px;
    padding: 15px;
}

.material-symbols-rounded{
    color: black;
}

#play{
    color: rgb(122, 196, 140);
}

#pause{
    color: rgb(209, 153, 112);
}

#stop{
    color: rgb(136, 55, 55);
}

#iniciar,#pausar,#zerar{
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;

}