@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

*{
    font-family: 'Graduate', serif;
}

h1{
    text-align: center;
}

#container-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#contadores{

    text-align: center;

}

.relogio{
    font-size: 3rem;
}
